.basket {
  flex-grow: 1;
  width: 100%;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.image {
  max-width: 133px;
  height: 100%;
}

.title {
  width: 20rem;
  padding: 0.8rem;
  font-size: 1rem;
}

.block {
  display: flex;
  align-items: center;
  padding: 0;

  &:last-child {
    padding-bottom: 0.7rem !important;
  }
}

.subtitle {
  display: none;
}

.separator {
  display: none;
}

@media only screen and (width <= 768px) {
  .card {
    flex-direction: column;
    justify-content: center;
    max-width: 18rem;
    text-align: center;
  }

  .image {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .title {
    width: auto;
  }

  .block {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.7rem;
  }

  .subtitle {
    display: block;
  }

  .separator {
    display: block;
    width: 100%;
    margin: "0.5rem 0";
    border: 1px solid #333;
  }
}
