@import url("../../../shared/variables.css");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.head-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  text-align: center;
  font-size: 100px;
  color: var(--white-color);
  background-image: url("../../../../assets/main/image_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  gap: 30px;
}

.button-main-head {
  padding: 10px;
  color: var(--light-gray);
  border: 2px solid var(--light-gray);
  background-color: var(--transparent);
  cursor: pointer;
}

.button-main-head:hover {
  color: var(--white-color);
  border-color: var(--light-gray);
}

.link {
  display: flex;
  height: 40px;
  text-decoration: none;
}

.history-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 50vh;
  background-color: var(--background-color);
  padding-bottom: 20px;
}

.content-history {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 95%;
}

h2 {
  width: 100%;
  color: var(--white-color);
  font-family: var(--font-family);
  text-align: center;
}

.image-history {
  width: 50%;
  height: 270px;
  background-image: url("../../../../assets/main/img_2.jpg");
  background-size: 68%;
  background-repeat: no-repeat;
  background-position: center;
}

.text-history {
  width: 50%;
  color: var(--white-color);
  font-family: var(--font-family);
  font-size: 20px;
}

.best-product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--light-background-color);
  width: 100%;
  min-height: 520px;
  padding-bottom: 20px;
}

.technology-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 50vh;
  background-color: var(--background-color);
  padding-bottom: 20px;
}

.content-technology {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
}

.text-technology {
  width: 50%;
  color: var(--white-color);
  font-family: var(--font-family);
  font-size: 20px;
}

.image-technology {
  width: 50%;
  height: 40vh;
  background-image: url("../../../../assets/main/img_3.jpg");
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center;
}

.sale-board {
  margin-top: 50px;
}

@media screen and (width <= 1000px) {
  .image-technology {
    background-size: 80%;
  }
}

@media screen and (width <= 600px) {
  .head-container {
    font-size: 60px;
  }

  .text-history {
    font-size: 10px;
  }

  .text-technology {
    font-size: 10px;
  }
  .image-technology {
    width: 70%;
  }
}

@media screen and (width <= 380px) {
  .head-container {
    font-size: 45px;
  }

  .text-history {
    width: 90%;
    font-size: 8px;
  }

  .text-technology {
    font-size: 8px;
    width: 90%;
  }

  .button-main-head {
    font-size: 10px;
  }

  h2 {
    font-size: 13px;
  }

  .content-history {
    flex-direction: column;
    width: 95%;
  }

  .image-history {
    width: 100%;
    height: 100px;
  }

  .content-technology {
    flex-direction: column-reverse;
    width: 95%;
  }

  .image-technology {
    width: 100%;
    height: 100px;
  }
}

@media screen and (width <= 500px) {
  .text-history {
    width: 90%;
    font-size: 12px;
  }

  .text-technology {
    font-size: 12px;
    width: 90%;
  }

  h2 {
    font-size: 18px;
  }

  .content-history {
    flex-direction: column;
    width: 95%;
  }

  .image-history {
    width: 100%;
    height: 200px;
  }

  .content-technology {
    flex-direction: column-reverse;
    width: 95%;
  }

  .image-technology {
    width: 100%;
    background-size: 50%;
    height: 220px;
  }
}
