.login-page {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  background-color: var(--background-color);
}

.login-content {
  height: 40vh;
  width: 30%;
  padding: 0px 20px 10px 20px;
  border: 2px solid var(--white-color);
  background-color: var(--dark-gray);
}

.link-login-footer {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: bold;
  color: var(--white-color);
}

.title-login {
  text-align: center;
  color: var(--white-color);
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .login-content {
    width: 40%;
  }
}

@media screen and (max-width: 650px) {
  .login-content {
    width: 60%;
  }
}

@media screen and (max-width: 450px) {
  .login-content {
    width: 80%;
  }
}
