.login-page {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
}

.login-content {
  width: 30%;
  height: fit-content;
  margin: 150px 0 100px;
  padding: 0 20px 10px;
  border: 2px solid var(--white-color);

  background-color: var(--dark-gray);
}

.link-login-footer {
  font-family: var(--font-family);
  font-weight: bold;
  color: var(--white-color);
  text-decoration: none;
}

.title-login {
  padding: 1rem 0;
  font-weight: bold;
  color: var(--white-color);
  text-align: center;
}

@media screen and (width <= 800px) {
  .login-content {
    width: 40%;
  }
}

@media screen and (width <= 650px) {
  .login-content {
    width: 60%;
  }
}

@media screen and (width <= 450px) {
  .login-content {
    width: 80%;
  }
}
